{% extends 'base.html.twig' %}

{% block title 'category addition' %}

{% block body %}
    <div class="col-md-4">
        <h4>Ajouter une catégorie : </h4>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </div>

{% endblock %}